<div class="subBody defaultFont" id="home">
  <div class="div homeDiv defaultFont">
    <div class="myName">
      <p>rôney fischer</p>
      <div class="abstract"><p>Desenvolvedor (Front-end e back-end)</p></div>
    </div>
  </div>

  <div class="div aboutMeDiv" id="aboutMe">
    <div class="internalAboutMeDiv">
      <div class="col100 aboutMeCol">
        <div class="contentBox">
          <div class="col100">
            <div class="textContent defaultFont">
              <div class="col100 inline-flex">
                <div class="col85 block paddingRight2rem">
                  <div
                    class="title"
                    style="
                      margin-bottom: 1rem;
                      margin-left: 0rem;
                      padding-left: 0rem;
                      text-align: left;
                    "
                  >
                    <p>Sobre Mim</p>
                  </div>
                  <div class="defaultFont">
                    <p>Olá,<br /><br /></p>
                    <p>Fico muito feliz de receber sua visita.<br /><br /></p>

                    <p>
                      Realizo trabalho de desenvolvimento, focado especialmente
                      em sistemas web comerciais back-end, mas também realizo
                      serviços de front-end.<br /><br />
                    </p>
                    <p>
                      Prezo por realizar um excelente alinhamento dos requisitos
                      pedidos pelo cliente, para entregar o resultado
                      esperado.<br /><br />
                    </p>
                    <p>
                      No tocante à parte técnica, prezo por utilizar os métodos
                      mais importantes à cada serviço, como o uso de paradígima
                      funcional,
                      <i>POO, Patterns, Clean Code, Clean Architecture, DDD</i>,
                      etc. <br /><br />
                    </p>
                    <p>
                      Para conhecer um pouco mais sobre mim e meu serviço, entre
                      em contato pelos meios disponíveis no final desta página.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="div skillsDiv" id="skills">
    <div class="internalSkillsDiv">
      <div class="col50" style="text-align: center">
        <div class="softSkills paddingRighttrem">
          <div class="title colorBlack" style="margin-bottom: 0.9rem">
            <p>Soft Skills</p>
          </div>
          <div class="textContent textIndent defaultFont paddingRight2rem">
            <p>
              Acredito que o conhecimento técnico não é o suficiente para
              garantir um bom trabalho. Há muitas outras variáveis subjetivas,
              que chamamos de <i>Soft Skills</i>. São características pessoais e
              predominantemente subjetivas, que são aplicadas para o sucesso do
              conhecimento técnico. <br /><br />
            </p>
            <p>
              Em meus trabalhos, procuro utilizar e aprimorar: a

              <span class="highlightText"> Comunicação</span>
              (clareza na transmissão de informações), o bom
              <span class="highlightText">Relacionamento Interpessoal</span>
              (bom e agradável convívio), a
              <span class="highlightText">Solução de Problemas </span>(entrega
              do resultado esperado), a
              <span class="highlightText">Análise Crítica</span>
              (que visa avaliar a qualidade e adequação da solução e do meio), a
              <span class="highlightText">Resiliência</span> (visto que muitos
              problemas são complexos e exigem estudo e dedicação por um longo
              perído de tempo), e a
              <span class="highlightText">Inteligência Emocional</span>, (por
              estar ligada à resiliencia e ao bom relacionamento
              interpessoal).<br />
              <br />
            </p>
          </div>
          <div class="ulSoftSkills">
            <div class="col50">
              <ul>
                <li>Comunicação</li>
                <li>Relacionamento Interpessoal</li>
                <li>Solução de Problemas</li>
              </ul>
            </div>
            <div class="col50">
              <ul>
                <li>Análise Crítica</li>
                <li>Resiliência</li>
                <li>Inteligência Emocional</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col50">
        <div class="hardSkills paddingLeftrem">
          <div class="title colorBlack" style="margin-bottom: 0.4rem">
            <p>Hard Skills</p>
          </div>
          <div class="icon col10">
            <img src="./../../../../assets/icons/postgre.png" />
            <div class="subText">Wordpress</div>
          </div>
          <div class="icon col10">
            <img src="./../../../../assets/icons/formato-html.png" />
            <div class="subText">Html</div>
          </div>
          <div class="icon col10">
            <img src="./../../../../assets/icons/css-3.png" />
            <div class="subText">CSS</div>
          </div>

          <div class="icon col10">
            <img src="./../../../../assets/icons/bootstrap.png" />
            <div class="subText">Bootstrap</div>
          </div>

          <div class="icon col10">
            <img src="./../../../../assets/icons/script-java.png" />

            <div class="subText">Javascript</div>
          </div>

          <div class="icon col10">
            <img src="./../../../../assets/icons/typescript.png" />
            <div class="subText">Typescript</div>
          </div>

          <div class="icon col10">
            <img src="./../../../../assets/icons/angular.png" />
            <div class="subText">Angular</div>
          </div>

          <div class="icon col10">
            <img src="./../../../../assets/icons/nodejs.png" />
            <div class="subText">NodeJs</div>
          </div>
          <div class="icon col10">
            <img src="./../../../../assets/icons/linux.png" />
            <div class="subText">Linux</div>
          </div>
          <div class="icon col10">
            <img src="./../../../../assets/icons/data-storage.png" />
            <div class="subText">AWS</div>
          </div>
          <div class="icon col10">
            <img src="./../../../../assets/icons/nginx.png" />
            <div class="subText">NGINX</div>
          </div>
          <div class="icon col10">
            <img src="./../../../../assets/icons/apache.png" />
            <div class="subText">Apache</div>
          </div>
          <div class="icon col10">
            <img src="./../../../../assets/icons/postgre.png" />
            <div class="subText">PostgreSQL</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="div content projectsDiv colorWhite" id="projects">
    <div class="title colorWhite projectsTitle">
      <p>Projetos</p>
    </div>

    <div class="internalProjectsDiv colorWhite">
      <div class="flexBox colorWhite" id="project1">
        <app-deluxe-rewards></app-deluxe-rewards>
        <div class="subTitle">Deluxe Rewards</div>
      </div>
      <div class="flexBox colorWhite" id="project2">
        <app-equilibre-engenharia-portfolio></app-equilibre-engenharia-portfolio>
        <div class="subTitle">Equilibre Engenharia</div>
      </div>
      <div class="flexBox colorWhite" id="project3">
        <app-personal-portfolio></app-personal-portfolio>
        <div class="subTitle">Portfólio Pessoal</div>
      </div>
      <div class="flexBox colorWhite" id="project4">
        <app-event-manager></app-event-manager>
        <div class="subTitle">Gerenciador de Eventos</div>
      </div>
    </div>
  </div>

  <div class="div contactDiv colorWhite" id="contact">
    <div class="internalContactDiv">
      <div class="title contacTitle colorWhite">
        <p>Contato</p>
      </div>
      <div class="contactDivGrid">
        <div class="contactDivLeft col50 colorBlack">
          <div class="subTitle colorBlack">
            <p>Como nos contatar?</p>
          </div>
          <p>whatsapp</p>
          <p>email</p>
          <p>formulário de contato</p>
          <p>whatsapp</p>
        </div>
        <div class="contactDivRight col50">
          <div class="subTitle colorBlack">
            <p>Co</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
