.subBody {
  background-image: url("./../../../../assets/pcCoffe.jpg");
  background-attachment: fixed;
  height: 100vh;
  width: 100%;

  margin: 0;
  padding: 0;
  /* 
  display: flex; */
  /* overflow: hidden; */
}

.firstDiv {
  position: relative;

  opacity: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.myName {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  height: min-content;
  width: max-content;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);

  font-weight: bold;
  color: rgb(71, 69, 69);
  font-size: 40px;
  /* background-color: brown; */
}

.abstract {
  font-size: 20px;
  color: rgb(55, 0, 255);
}

.secondDiv {
  position: absolute;
  background-color: #0a0a36;
  padding: 10000000rem;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.aboutMeCol {
  padding-top: 2rem;
}
.internalSecondDiv {
  display: inline-flex;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 10rem;
}

.hardSkills {
  display: block;

  padding-top: 2rem;
  padding-bottom: 2rem;

  border-width: 0.1rem;

  border: 0;
  border-left: 0.2rem;
  border-style: solid;
  border-color: rgb(132, 133, 158);

  text-align: center;
}

.icon {
  /* background-image: url(""); */
  display: inline-flexbox;
  background-color: hwb(0 100% 0%);

  color: rgb(46, 45, 45);

  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* word-wrap: break-word; */
  padding: 1rem;
  margin: 0.8rem;
  text-align: center;

  font-weight: bold;
  text-transform: uppercase;

  width: 6rem;
}

.icon:hover {
  /* background-image: url(""); */
  background-color: hsl(236, 83%, 93%);

  color: rgb(0, 0, 0);

  transition: all 0s;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: scale(1.1);
  cursor: pointer;
}

.subText {
  position: relative;
  padding-top: 0.2rem;

  text-align: center;
  font-size: 15px;
}

.h100 {
  height: 100%;
}
.padding12RemBlock {
  display: inline-block;
  padding-top: 2rem;
}
/* <div> Ícones feitos por <a href="https://www.flaticon.com/br/autores/prosymbols-premium" title="Prosymbols Premium"> Prosymbols Premium </a> from <a href="https://www.flaticon.com/br/" title="Flaticon">www.flaticon.com'</a></div> */
