<div class="subBody">
  <div class="firstDiv defaultFont">
    <div class="myName">
      rôney fischer
      <div class="abstract">Desenvolvimento:</div>
      <div class="abstract">* Front-end</div>
      <div class="abstract">* Back-end</div>
    </div>
  </div>
</div>

<div class="secondDiv">
  <div class="internalSecondDiv">
    <div class="col50 aboutMeCol">
      <div class="contentBox">
        <div class="col100">
          <div class="textContent defaultFont colorWhite">
            <div class="col100 inline-flex">
              <div
                class="col15 inline-block"
                style="margin-right: 5rem; margin-top: 15%"
              >
                <img src="./../../../../assets/icons/roney.jpg" />
              </div>

              <div class="col70 block paddingRight2rem">
                <div class="title colorWhite" style="margin-bottom: 1rem">
                  Sobre mim
                </div>
                <div class="textContent defaultFont textIndent">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Aenean eget magna lorem. Aliquam erat volutpat. Duis nec
                  laoreet tellus.<br /><br />
                </div>

                <div class="textContent defaultFont textIndent">
                  Donec interdum erat eros, ut mattis velit vulputate quis. Duis
                  eget mi eget ipsum convallis aliquam. Etiam consequat sapien
                  ac tortor gravida, eget consequat odio finibus. Sed velit
                  urna, fermentum vel massa nec, mollis venenatis libero.<br /><br />
                </div>
                <div
                  class="textContent defaultFont textIndent"
                  style="margin-bottom: 0rem; padding-bottom: 0rem"
                >
                  Curabitur blandit, massa in varius scelerisque, lacus erat
                  malesuada sapien, eget volutpat mauris enim vel lacus. Cras
                  ultricies porttitor massa vitae commodo. Curabitur blandit,
                  massa in varius scelerisque, lacus erat malesuada sapien, eget
                  volutpat mauris enim vel lacus. Cras ultricies porttitor massa
                  vitae commodo.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col50">
      <div class="hardSkills paddingLeftrem">
        <div class="title colorWhite" style="margin-bottom: 0.4rem">
          Habilidades
        </div>

        <div class="icon col10">
          <img src="./../../../../assets/icons/formato-html.png" />
          <div class="subText">Html</div>
        </div>
        <div class="icon col10">
          <img src="./../../../../assets/icons/css-3.png" />
          <div class="subText">CSS</div>
        </div>

        <div class="icon col10">
          <img src="./../../../../assets/icons/bootstrap.png" />
          <div class="subText">Bootstrap</div>
        </div>

        <div class="icon col10">
          <img src="./../../../../assets/icons/script-java.png" />

          <div class="subText">Javascript</div>
        </div>

        <div class="icon col10">
          <img src="./../../../../assets/icons/typescript.png" />
          <div class="subText">Typescript</div>
        </div>

        <div class="icon col10">
          <img src="./../../../../assets/icons/angular.png" />
          <div class="subText">Angular</div>
        </div>

        <div class="icon col10">
          <img src="./../../../../assets/icons/nodejs.png" />
          <div class="subText">NodeJs</div>
        </div>
        <div class="icon col10">
          <img src="./../../../../assets/icons/linux.png" />
          <div class="subText">Linux</div>
        </div>
        <div class="icon col10">
          <img src="./../../../../assets/icons/data-storage.png" />
          <div class="subText">AWS</div>
        </div>
        <div class="icon col10">
          <img src="./../../../../assets/icons/nginx.png" />
          <div class="subText">NGINX</div>
        </div>
        <div class="icon col10">
          <img src="./../../../../assets/icons/apache.png" />
          <div class="subText">Apache</div>
        </div>
        <div class="icon col10">
          <img src="./../../../../assets/icons/postgre.png" />
          <div class="subText">PostgreSQL</div>
        </div>
      </div>
    </div>
  </div>
</div>
