<div class="subBody">
  <div class="firstDiv defaultFont">
    <div class="myName">
      rôney fischer
      <div class="abstract">Desenvolvedor (Front-end e back-end)</div>
    </div>
  </div>

  <div class="secondDiv">
    <div class="internalSecondDiv">
      <div class="col100 aboutMeCol">
        <div class="contentBox">
          <div class="col100">
            <div class="textContent defaultFont colorWhite">
              <div class="col100 inline-flex">
                <div
                  class="col15 inline-block profileImg"
                  style="margin-right: 1rem"
                >
                  <img src="./../../../../assets/icons/roney.jpg" />
                </div>

                <div class="col85 block paddingRight2rem">
                  <div class="title colorWhite" style="margin-bottom: 1rem">
                    About Me
                  </div>
                  <div class="textContent defaultFont">Olá,<br /><br /></div>
                  <div class="textContent defaultFont">
                    Fico muito feliz de receber sua visita.<br /><br />
                  </div>

                  <div class="textContent defaultFont">
                    Realizo trabalho de desenvolvimento, focado especialmente em
                    sistemas web comerciais back-end, mas também realizo
                    serviços de front-end.<br /><br />
                  </div>
                  <div class="textContent defaultFont">
                    Prezo por realizar um excelente alinhamento dos requisitos
                    pedidos pelo cliente, para entregar o resultado esperado.<br /><br />
                  </div>
                  <div class="textContent defaultFont">
                    No tocante à parte técnica, prezo por utilizar os métodos
                    mais importantes à cada serviço, como o uso de paradígima
                    funcional,
                    <i>POO, Patterns, Clean Code, Clean Architecture, DDD</i>,
                    etc. <br /><br />
                  </div>
                  <div class="textContent defaultFont">
                    Para conhecer um pouco mais sobre mim e meu serviço, entre
                    em contato pelos meios disponíveis no final desta página.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="treeDiv">
    <div class="internalTreeDiv">
      <div class="col50">
        <div class="hardSkills paddingLeftrem">
          <div class="title colorBlack" style="margin-bottom: 0.4rem">
            soft Skills
          </div>

          <div class="icon col10">
            <img src="./../../../../assets/icons/formato-html.png" />
            <div class="subText">Html</div>
          </div>
          <div class="icon col10">
            <img src="./../../../../assets/icons/css-3.png" />
            <div class="subText">CSS</div>
          </div>

          <div class="icon col10">
            <img src="./../../../../assets/icons/bootstrap.png" />
            <div class="subText">Bootstrap</div>
          </div>

          <div class="icon col10">
            <img src="./../../../../assets/icons/script-java.png" />

            <div class="subText">Javascript</div>
          </div>

          <div class="icon col10">
            <img src="./../../../../assets/icons/typescript.png" />
            <div class="subText">Typescript</div>
          </div>

          <div class="icon col10">
            <img src="./../../../../assets/icons/angular.png" />
            <div class="subText">Angular</div>
          </div>

          <div class="icon col10">
            <img src="./../../../../assets/icons/nodejs.png" />
            <div class="subText">NodeJs</div>
          </div>
          <div class="icon col10">
            <img src="./../../../../assets/icons/linux.png" />
            <div class="subText">Linux</div>
          </div>
          <div class="icon col10">
            <img src="./../../../../assets/icons/data-storage.png" />
            <div class="subText">AWS</div>
          </div>
          <div class="icon col10">
            <img src="./../../../../assets/icons/nginx.png" />
            <div class="subText">NGINX</div>
          </div>
          <div class="icon col10">
            <img src="./../../../../assets/icons/apache.png" />
            <div class="subText">Apache</div>
          </div>
          <div class="icon col10">
            <img src="./../../../../assets/icons/postgre.png" />
            <div class="subText">PostgreSQL</div>
          </div>
        </div>
      </div>

      <div class="col50">
        <div class="hardSkills paddingLeftrem">
          <div class="title colorBlack" style="margin-bottom: 0.4rem">
            Hard Skills
          </div>

          <div class="icon col10">
            <img src="./../../../../assets/icons/formato-html.png" />
            <div class="subText">Html</div>
          </div>
          <div class="icon col10">
            <img src="./../../../../assets/icons/css-3.png" />
            <div class="subText">CSS</div>
          </div>

          <div class="icon col10">
            <img src="./../../../../assets/icons/bootstrap.png" />
            <div class="subText">Bootstrap</div>
          </div>

          <div class="icon col10">
            <img src="./../../../../assets/icons/script-java.png" />

            <div class="subText">Javascript</div>
          </div>

          <div class="icon col10">
            <img src="./../../../../assets/icons/typescript.png" />
            <div class="subText">Typescript</div>
          </div>

          <div class="icon col10">
            <img src="./../../../../assets/icons/angular.png" />
            <div class="subText">Angular</div>
          </div>

          <div class="icon col10">
            <img src="./../../../../assets/icons/nodejs.png" />
            <div class="subText">NodeJs</div>
          </div>
          <div class="icon col10">
            <img src="./../../../../assets/icons/linux.png" />
            <div class="subText">Linux</div>
          </div>
          <div class="icon col10">
            <img src="./../../../../assets/icons/data-storage.png" />
            <div class="subText">AWS</div>
          </div>
          <div class="icon col10">
            <img src="./../../../../assets/icons/nginx.png" />
            <div class="subText">NGINX</div>
          </div>
          <div class="icon col10">
            <img src="./../../../../assets/icons/apache.png" />
            <div class="subText">Apache</div>
          </div>
          <div class="icon col10">
            <img src="./../../../../assets/icons/postgre.png" />
            <div class="subText">PostgreSQL</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
