/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

.div {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: 0;
  position: static;
  display: block;
  color: #fffeeb;

  height: calc(100%);
  width: calc(100%);
  box-sizing: border-box;
}

.col100 {
  width: 100%;
  display: inline-flex;
}
.col85 {
  width: 85%;
  display: inline-flex;
}
.col70 {
  width: 70%;
  display: inline-flex;
}
.col50 {
  width: 50%;

  display: inline-flex;
}
.col25 {
  width: 25%;
  display: inline-flex;
}
.col20 {
  width: 20%;
  display: inline-flex;
}
.col15 {
  width: 15%;
  display: inline-flex;
}

.col10 {
  width: 10%;
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
  width: 100%;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.black {
  background-color: black;
}
.orange {
  background-color: orange;
}

.colorWhite {
  color: white;
}
.colorBlack {
  color: black;
}

.defaultFont {
  font-family: "Times New Roman", Times, serif;
}

.title {
  position: relative;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}
.subTitle {
  position: relative;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
}

.textContent {
  padding: 0rem;
  text-align: justify;
  font-size: 22px;
}

.textIndent {
  text-indent: 2rem;
}

.contentBox {
  display: block;
  position: relative;

  height: 100%;
  width: 100%;
}

.padding1rem {
  padding: 1rem;
}

.paddingRight1rem {
  padding-right: 1rem;
}
.paddingLeft1rem {
  padding-left: 1rem;
}

.paddingRight2rem {
  padding-right: 2rem;
}
.paddingLeft1rem {
  padding-left: 1rem;
}
.highlightText {
  font-weight: bold;

  /* text-transform: uppercase; */
  /* font-size: 18px; */
}

/* @keyframes go-back-x {
  from {
    transform: translateX(50vw);
  }
  to {
    transform: translateX(0);
  }
} */

@keyframes kick-y {
  0% {
    transform: translateY(-40%);
  }

  10% {
    transform: translateY(0%);
  }

  20% {
    transform: translateY(-3%);
  }
  30% {
    transform: translateY(0%);
  }
  40% {
    transform: translateY(-1%);
  }
  50% {
    transform: translateY(0%);
  }
}

.portfolioSlideImage {
  position: relative;
  display: inline-flex;
  /* max-width: 50rem;
  max-height: 50rem; */
  align-content: center;
  text-align: center;
  align-items: center;
  width: 30rem;
  height: 15rem;
}

html {
  scroll-behavior: smooth;
}

.sticky {
  position: sticky;
  top: 0;
}
